html, body {
	margin: 0px;
	padding: 0px;
	font-family: "Poppins";
}

.no-padding {
	padding: 0px;
	margin: 0px;
}

.nav {
	height: 100px;
	line-height: 100px;
	/*background-color: #EAEFFA;*/
	background-color: #E5E9F0;
	text-align: center;
}

.logo {
	font-weight: 600;
	color: #0065FE;
	height: parent;
	/*border-right: 1.5px solid #D5DEF1;*/
}

.init-form {
	padding: 45px 50px 45px 50px;
}

.header {
	margin-top: 50px;
	background-color: #E8F2FF;
	padding: 25px 20px 25px 20px;
	border-radius: 3px;
	color: #465877;
}

.tasks {
	font-family: "CircularStd";
	font-size: 16px;
	font-weight: 500;
	color: #64738D;
	line-height: 30px;
	margin-top: 40px;
}

.main-app {
	margin-top: 40px;
	padding-left: 50px;
}

input[type=text] {
	width: 100%;
	background-color: white;
	border: 0px;
	border-bottom: 2px solid #e2e2e2;
	outline: none;
	padding: 5px 25px 5px 0px;
	color: #113082;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 35px;
	transition: box-shadow 0.5s ease;
}

input[type=text]:focus {
	border-bottom: 2px solid #0065FE;
	outline: none;
	transition: border 0.5s ease;
}

input[type=submit] {
	margin-top: 10px;
	float: right;
	background-color: #555555;
	color: #f7f7f7;
	border: none;
	outline: none;
	border-radius: 5px;
	font-family: "Poppins";
	font-size: 12px;
	padding: 15px 25px 15px 25px;
	transition: background-color 0.2s ease;
	letter-spacing: 1px;
}

input[type=radio] {

}

input[type=submit]:hover {
	background-color: #333333;
	transition: background-color 0.5s ease;
}

.card {
	margin-bottom: 20px;
	background-color: #E9F4F5;
	border-style: none;
	padding: 5px 10px 5px 10px;
}

#bronze .card {
	background-color: #FFEEDB;
}

#silver .card {
	background-color: #f9f9f9;
}


.inner_heading {
	margin-top: 15px;
}

.amount {
	font-family: "Poppins";
	font-weight: 500;
	font-size: 16px;
}

hr {
	padding: 0px;
	border-radius: 5px;
	border: 1.5px solid #e2e2e2;
}
p {
	font-family: "CircularStd";
	font-weight: 400;
	margin: 0px;
}

h2 {
	font-family: "CircularStd";
	font-size: 24px;
	font-weight: 900;
}

h3 {
	font-family: "CircularStd";
	font-size: 20px;
	font-weight: 900;
	color: #3E445A;
}

h4 {
	font-family: "CircularStd";
	font-size: 18px;
	font-weight: 700;
	color: #3E445A;
}

h5 {
	font-family: "CircularStd";
	font-size: 12px;
	letter-spacing: 2px;
	background-color: #FFB296;
	width: auto;
	margin: 0px;
	padding: 10px 5px 7px 10px; 
	font-weight: 700;
	border-radius: 2px;
}

h6 {
	font-family: "CircularStd";
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2px;
	margin: 0px;
}

.plans {
	padding-top: 30px;
}

.sidebar{
	background-color: #023C40;
	heigh: 100vh;
}

.value {
	text-align: right;
	line-height: 24px;
	font-size: 16px;
	font-weight: 600;
	color: #FF3267;
	padding-top: 25px;
	padding-right: 35px;
}

.value span{
	font-weight: 400;
	font-size: 18px;
	color: #333333;
}

.information-card {
	margin: 30px 0px 30px 0px;
	padding: 15px 20px 15px 20px;
	height: auto;
	box-shadow: 0px 1px 3px #e2e2e2;
	border-radius: 5px;
	font-family: "CircularStd";
	font-weight: 900;
	color: #333;
}